[Unit]
Description=Periodically pull latest ArcMarket+ commits

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target
